.user__background {
    border-radius: 8px 8px 0px 0px;
    border: 2px solid #3a3a3a;
    background-color: #ffb703;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96px;
    height: 120px;
    margin-bottom: 8px;
}

.user__background:hover {
    border: 2px solid #3A3A3A;
}

.user__name {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-shadow: -1px -1px 0 #3A3A3A, 1px -1px 0 #3A3A3A, -1px 1px 0 #3A3A3A, 1px 1px 0 #3A3A3A;
} 

.user__avatar {
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    cursor: pointer;
}

.user__avatar:hover {
    border: 2px solid red;
}