.modal__container {
    position: absolute;
    z-index: 10;
    height: 200px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -5px;
    left: -2px;
}

.modal__input {
    height: 32px;
    width: 80%;
    margin-bottom: 8px;
}

.modal__button {
    border: 2px solid #3a3a3a;
}